body {
	background: var(--base01-color);
	color: var(--base03-color);
	font-size: var(--font-size);
}

main {
	width: 100%;
	padding: 2em;
	display: flex;
	gap: 3em;
}

.back {
	font-size: 5em;
	color: rgba(255,255,255,0.6);
}

.settings {
	width: 100%;
	height: 100%;

}

.settings .lines {
	display: flex;
	flex-direction: column;
	font-size: 2.5em;
}

.settings .lines > * {
	height: 4em;
	display: flex;
	align-items: center;
	padding: 0.5em 0;
}

.settings .lines .line {
	font-size: 1em;
	padding-left: 4em;
	padding-right: 4em;
	justify-content: space-between;
}

.settings .lines .line input {
	height: 100%;
	width: 50%;
	padding: 0 1em;
	outline: none;
	border: none;
	background: rgba(255,255,255,0.02);
	color: var(--base03-color);
	font-size: 1.1em;
}

.settings .lines .line:hover {
	background: rgba(255,255,255,0.04);
}

.settings .lines .boxs {
	padding-left: 4em;
	padding-right: 4em;
	height: 15em;
	width: 100%;
	
}

.settings .lines .boxs .container {
	background: rgba(255,255,255,0.02);
	height: 100%;
	width: 100%;
}

.settings .lines .title {
	color: rgba(255,255,255,0.4);
	font-size: 0.7em;
	text-transform: uppercase;
}

.settings .lines .title::before {
	content: "[ ";
}
.settings .lines .title::after {
	content: " ]";
}
